<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2022 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hawksearch" translate="label" sortOrder="400">
            <label>HawkSearch</label>
        </tab>

        <section id="hawksearch_connector" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Connection Settings</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_Connector::config</resource>

            <group id="api_settings" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="1">
                <label>API Settings</label>
                <field id="api_key" translate="label comment" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10">
                    <label>API Key</label>
                    <comment>Contact your Hawksearch sales rep for this value.</comment>
                </field>
                <field id="engine_name" translate="label comment" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20">
                    <label>Engine Name</label>
                    <comment>Contact your Hawksearch sales rep for this value.</comment>
                </field>
                <field id="client_guid" translate="label comment" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30">
                    <label>Client Guid / Tracking Key</label>
                    <comment>Contact your Hawksearch sales rep for this value.</comment>
                </field>
                <field id="environment" translate="label" type="select"
                       showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="40">
                    <label>Hawksearch Environment</label>
                    <source_model>HawkSearch\Connector\Model\Config\Source\Api\Environment</source_model>
                </field>

                <group id="hawk_url" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Engine Reference URL</label>
                    <comment>Used for referencing Lucene Search Engine.</comment>
                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>

                <group id="tracking_url" translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Tracking URL</label>
                    <comment>Event Tracking API.</comment>
                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>

                <group id="recommendations_url" translate="label" type="text" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Recommendations URL</label>
                    <comment>Please ensure Tracking is first setup on your site before implementing Recommendations.</comment>
                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>

                <group id="dashboard_api_url" translate="label" type="text" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Dashboard API URL</label>
                    <comment>Dashboard API is used to communicate with Hawksearch Workbench.</comment>
                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>

                <group id="hawksearch_workbench_url" translate="label" type="text" sortOrder="90"
                       showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Hawksearch Workbench URL</label>
                    <comment>Used for engine configurations and loading assets.</comment>

                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>

                <group id="indexing_api_url" translate="label" type="text" sortOrder="100"
                       showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Indexing API URL</label>
                    <comment>Hawksearch v4.0 Indexing API. It is used to manage Hierarchies, Indexes, Mappings.</comment>
                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>

                <group id="search_api_url" translate="label" type="text" sortOrder="110"
                       showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Search API URL</label>
                    <comment>Hawksearch v4.0 Search API. It is used to perform Search, load Autocomplete Suggestions.</comment>
                    <field id="develop" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" canRestore="1">
                        <label>Development Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">develop</field>
                        </depends>
                    </field>
                    <field id="staging" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="20" canRestore="1">
                        <label>Staging Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">staging</field>
                        </depends>
                    </field>
                    <field id="production" translate="label" type="text"
                           showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" canRestore="1">
                        <label>Production Environment</label>
                        <depends>
                            <field id="hawksearch_connector/api_settings/environment">production</field>
                        </depends>
                    </field>
                </group>
            </group>

            <group id="logger" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Logger Settings</label>
                <field id="enable_debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable it for debugging purposes only</comment>
                </field>
            </group>
        </section>
    </system>
</config>
